

<ion-view view-title="Question:{{css2.id+1}}">
  <ion-content class="padding">
 <div class="item item-text-wrap">
      {{css2.name}}
   </div>
      <div class = "row">
   <div class = "col">
     <button id="opt_1" class="button button-positive" ng-click="verifyAndNext('{{css2.correct_ans}}','opt_1','{{css2.id}}')" style="width:100%">
      {{css2.opt_1}}
</button>

   </div>
   <div class = "col">
     
      <button id="opt_2" class="button button-positive" ng-click="verifyAndNext('{{css2.correct_ans}}','opt_2','{{css2.id}}')" style="width:100%">
      {{css2.opt_2}}
</button>
   </div>
  
</div>

<div class = "row">
   <div class = "col">
      <button id="opt_3" class="button button-positive" ng-click="verifyAndNext('{{css2.correct_ans}}','opt_3','{{css2.id}}')" style="width:100%">
      {{css2.opt_3}}
</button>
   </div>
   <div class = "col"> <button class="button button-positive" id="opt_4" ng-click="verifyAndNext('{{css2.correct_ans}}','opt_4','{{css2.id}}')" style="width:100%">
      {{css2.opt_4}}
</button>
</div>
 </div>
 <a href="#/app/css_test1_questions/{{css2.id+1}}">
 <button class="button button-positive" id="opt_4" ng-click="checkMaxQues('{{css2.id}}')" style="width:100%"> 
Next</button></a>
 <input id="selected_ans" type="hidden" name="">

  </ion-content>
  <div class="bar bar-footer bar-stable">



<ion-view view-title="Question:{{css1.id+1}}">
  <ion-content class="padding">
 <div class="item item-text-wrap">
      {{css1.name}}
   </div>
      <div class = "row">
   <div class = "col">
     <button id="opt_1" class="button button-positive" ng-click="verifyAndNext('{{css1.correct_ans}}','opt_1','{{css1.id}}')" style="width:100%">
      {{css1.opt_1}}
</button>

   </div>
   <div class = "col">
     
      <button id="opt_2" class="button button-positive" ng-click="verifyAndNext('{{css1.correct_ans}}','opt_2','{{css1.id}}')" style="width:100%">
      {{css1.opt_2}}
</button>
   </div>
  
</div>

<div class = "row">
   <div class = "col">
      <button id="opt_3" class="button button-positive" ng-click="verifyAndNext('{{css1.correct_ans}}','opt_3','{{css1.id}}')" style="width:100%">
      {{css1.opt_3}}
</button>
   </div>
   <div class = "col"> <button class="button button-positive" id="opt_4" ng-click="verifyAndNext('{{css1.correct_ans}}','opt_4','{{css1.id}}')" style="width:100%">
      {{css1.opt_4}}
</button>
</div>
 </div>
 <a href="#/app/css_test1_questions/{{css1.id+1}}">
 <button class="button button-positive" id="opt_4" ng-click="checkMaxQues('{{css1.id}}')" style="width:100%"> 
Next</button></a>
 <input id="selected_ans" type="hidden" name="">

  </ion-content>
  <div class="bar bar-footer bar-stable">

   <a href="#/app/home"><h1 class="title"> <i class = "ion-ios-home" style="font-size: 30px;"></i>

</div>
</ion-view>

</h1>
</div>
</ion-view>

